@charset "UTF-8";
:root {
  --colorRed: linear-gradient(to right, #F05A28 0%, #BB245E 100%);
  --colorRedOld: #E93125;
  --colorRed95: rgba(233,49,37,0.95);
  --colorRed70: rgba(233,49,37,0.7);
  --colorDarkGrey: #20242C;
  --colorTextGrey: #D0D2D3;
  --colorGrey: #30343A;
  --colorWhite: white;
  --color1: rgb(239,89,41);
  --color2: rgb(229,79,51);
  --color3: rgb(215,64,66);
  --color4: rgb(201, 50, 81);
  --color5: rgb(188, 37, 93);
}

/*=================
Basic style
==================*/
html, body {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: none;
}

body {
  margin: 0;
  font-family: "Pilat Regular";
  /* cursor:none; */
}

img {
  max-width: 100%;
  width: 100%;
  vertical-align: bottom;
}

h1, h2, p {
  margin: 0;
}

/*===================
animation01
====================*/
.animation01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.animation01 div {
  width: 20%;
  height: 100%;
  -webkit-animation: animation01 0.275s ease-in forwards;
          animation: animation01 0.275s ease-in forwards;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  opacity: 0;
}

.animation01 div:nth-child(1) {
  background-color: var(--color1);
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.animation01 div:nth-child(2) {
  background-color: var(--color2);
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.animation01 div:nth-child(3) {
  background-color: var(--color3);
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.animation01 div:nth-child(4) {
  background-color: var(--color4);
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.animation01 div:nth-child(5) {
  background-color: var(--color5);
}

@-webkit-keyframes animation01 {
  0% {
    -webkit-transform: scale3d(1, 0, 1);
            transform: scale3d(1, 0, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

@keyframes animation01 {
  0% {
    -webkit-transform: scale3d(1, 0, 1);
            transform: scale3d(1, 0, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

/*===================
animation02
====================*/
.animation02 {
  position: absolute;
  width: 100%;
  height: 100%;
}

.animation02 div {
  position: absolute;
  width: 0;
  height: 0;
  -webkit-animation: animation02 0.6s ease-in 0.6s forwards;
          animation: animation02 0.6s ease-in 0.6s forwards;
  opacity: 0;
}

.animation02 div:nth-child(1) {
  top: 0;
  left: 0;
  border-top: 100vh solid transparent;
  border-right: 100vw solid #f2f3df;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
}

.animation02 div:nth-child(2) {
  right: 0;
  bottom: 0;
  border-bottom: 100vh solid transparent;
  border-left: 100vw solid #f2f3df;
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

@-webkit-keyframes animation02 {
  0% {
    -webkit-transform: scale3d(0, 0, 1);
            transform: scale3d(0, 0, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

@keyframes animation02 {
  0% {
    -webkit-transform: scale3d(0, 0, 1);
            transform: scale3d(0, 0, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

/*===================
animation03
====================*/
.animation03 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 13vw;
  height: 13vw;
}

.animation03 .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform-origin: center;
          transform-origin: center;
  background-color: transparent;
  z-index: 9998;
}

.animation03 .circle_element01 {
  width: 13vw;
  height: 13vw;
  border: 0.25vw solid;
  border-radius: 50%;
  -webkit-animation: animation03_circle 0.3s ease-in-out 0.5s forwards, animation03_circle_element01 0.3s linear 0.9s forwards;
          animation: animation03_circle 0.3s ease-in-out 0.5s forwards, animation03_circle_element01 0.3s linear 0.9s forwards;
  opacity: 0;
}

.animation03 .circle_element02 {
  width: 9vw;
  height: 9vw;
  border: 0.5vw solid var(--colorGrey);
  border-radius: 50%;
  -webkit-animation: animation03_circle 0.4s ease-in-out 0.5s forwards, animation03_circle_element02 0.2s linear 1.0s forwards;
          animation: animation03_circle 0.4s ease-in-out 0.5s forwards, animation03_circle_element02 0.2s linear 1.0s forwards;
  opacity: 0;
}

.animation03 .circle_element03 {
  width: 4vw;
  height: 4vw;
  border: 1vw solid var(--colorDarkGrey);
  border-radius: 50%;
  -webkit-animation: animation03_circle 0.45s ease-in-out 0.5s forwards, animation03_circle_element03 0.15s linear 1.4s forwards;
          animation: animation03_circle 0.45s ease-in-out 0.5s forwards, animation03_circle_element03 0.15s linear 1.4s forwards;
  opacity: 0;
}

@-webkit-keyframes animation03_circle {
  0% {
    -webkit-transform: scale3d(0, 0, 1);
            transform: scale3d(0, 0, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

@keyframes animation03_circle {
  0% {
    -webkit-transform: scale3d(0, 0, 1);
            transform: scale3d(0, 0, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

@-webkit-keyframes animation03_circle_element01 {
  0% {
    border: 0.25vw solid var(--colorDarkGrey);
  }
  100% {
    border: 0 solid var(--colorDarkGrey);
  }
}

@keyframes animation03_circle_element01 {
  0% {
    border: 0.25vw solid var(--colorDarkGrey);
  }
  100% {
    border: 0 solid var(--colorDarkGrey);
  }
}

@-webkit-keyframes animation03_circle_element02 {
  0% {
    border: 0.5vw solid var(--colorGrey);
  }
  100% {
    border: 0 solid var(--colorGrey);
  }
}

@keyframes animation03_circle_element02 {
  0% {
    border: 0.5vw solid var(--colorGrey);
  }
  100% {
    border: 0 solid var(--colorGrey);
  }
}

@-webkit-keyframes animation03_circle_element03 {
  0% {
    border: 1vw solid var(--colorDarkGrey);
  }
  100% {
    border: 0 solid var(--colorDarkGrey);
  }
}

@keyframes animation03_circle_element03 {
  0% {
    border: 1vw solid var(--colorDarkGrey);
  }
  100% {
    border: 0 solid var(--colorDarkGrey);
  }
}

/*===================
animation04
====================*/
.animation04 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.animation04 .line_wrapper {
  position: absolute;
  opacity: 0;
}

.animation04 .line {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
}

/*===========
line01
===========*/
.animation04 .line_wrapper01 {
  top: -20%;
  left: 50%;
  width: 2.5%;
  height: 30%;
  -webkit-animation: animation04_line_wrapper01 0.45s ease-in 0.8s forwards;
          animation: animation04_line_wrapper01 0.45s ease-in 0.8s forwards;
}

.animation04 .line01 {
  -webkit-animation: animation04_line01 0.45s ease-in 0.5s forwards;
          animation: animation04_line01 0.45s ease-in 0.5s forwards;
}

@-webkit-keyframes animation04_line_wrapper01 {
  0% {
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transform: scale3d(1, 0, 1);
            transform: scale3d(1, 0, 1);
    opacity: 1;
  }
}

@keyframes animation04_line_wrapper01 {
  0% {
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transform: scale3d(1, 0, 1);
            transform: scale3d(1, 0, 1);
    opacity: 1;
  }
}

@-webkit-keyframes animation04_line01 {
  0% {
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: scale3d(1, 0, 1);
            transform: scale3d(1, 0, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

@keyframes animation04_line01 {
  0% {
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: scale3d(1, 0, 1);
            transform: scale3d(1, 0, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

/*===========
line02
===========*/
.animation04 .rotate45 {
  display: block;
  position: absolute;
  top: 22.5%;
  left: 50%;
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.animation04 .line_wrapper02 {
  width: 2.5%;
  height: 30%;
  -webkit-animation: animation04_line_wrapper02 0.45s ease-in 0.8s forwards;
          animation: animation04_line_wrapper02 0.45s ease-in 0.8s forwards;
}

.animation04 .line02 {
  -webkit-animation: animation04_line02 0.45s ease-in 0.5s forwards;
          animation: animation04_line02 0.45s ease-in 0.5s forwards;
}

@-webkit-keyframes animation04_line_wrapper02 {
  0% {
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transform: scale3d(1, 0, 1);
            transform: scale3d(1, 0, 1);
    opacity: 1;
  }
}

@keyframes animation04_line_wrapper02 {
  0% {
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transform: scale3d(1, 0, 1);
            transform: scale3d(1, 0, 1);
    opacity: 1;
  }
}

@-webkit-keyframes animation04_line02 {
  0% {
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: scale3d(1, 0, 1);
            transform: scale3d(1, 0, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

@keyframes animation04_line02 {
  0% {
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: scale3d(1, 0, 1);
            transform: scale3d(1, 0, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

/*===========
line03
===========*/
.animation04 .line_wrapper03 {
  top: 50%;
  left: 90%;
  width: 30%;
  height: 2.5%;
  -webkit-animation: animation04_line_wrapper03 0.45s ease-in 0.8s forwards;
          animation: animation04_line_wrapper03 0.45s ease-in 0.8s forwards;
}

.animation04 .line03 {
  -webkit-animation: animation04_line03 0.45s ease-in 0.5s forwards;
          animation: animation04_line03 0.45s ease-in 0.5s forwards;
}

@-webkit-keyframes animation04_line_wrapper03 {
  0% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scale3d(0, 1, 1);
            transform: scale3d(0, 1, 1);
    opacity: 1;
  }
}

@keyframes animation04_line_wrapper03 {
  0% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scale3d(0, 1, 1);
            transform: scale3d(0, 1, 1);
    opacity: 1;
  }
}

@-webkit-keyframes animation04_line03 {
  0% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scale3d(0, 1, 1);
            transform: scale3d(0, 1, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

@keyframes animation04_line03 {
  0% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scale3d(0, 1, 1);
            transform: scale3d(0, 1, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

/*===========
line04
===========*/
.animation04 .rotate135 {
  display: block;
  position: absolute;
  top: 49.5%;
  left: -22%;
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.animation04 .line_wrapper04 {
  width: 2.5%;
  height: 30%;
  -webkit-animation: animation04_line_wrapper04 0.45s ease-in 0.8s forwards;
          animation: animation04_line_wrapper04 0.45s ease-in 0.8s forwards;
}

.animation04 .line04 {
  -webkit-animation: animation04_line04 0.45s ease-in 0.5s forwards;
          animation: animation04_line04 0.45s ease-in 0.5s forwards;
}

@-webkit-keyframes animation04_line_wrapper04 {
  0% {
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transform: scale3d(1, 0, 1);
            transform: scale3d(1, 0, 1);
    opacity: 1;
  }
}

@keyframes animation04_line_wrapper04 {
  0% {
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transform: scale3d(1, 0, 1);
            transform: scale3d(1, 0, 1);
    opacity: 1;
  }
}

@-webkit-keyframes animation04_line04 {
  0% {
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: scale3d(1, 0, 1);
            transform: scale3d(1, 0, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

@keyframes animation04_line04 {
  0% {
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: scale3d(1, 0, 1);
            transform: scale3d(1, 0, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

/*===========
line05
===========*/
.animation04 .line_wrapper05 {
  top: 90%;
  left: 50%;
  width: 2.5%;
  height: 30%;
  -webkit-animation: animation04_line_wrapper05 0.45s ease-in 0.8s forwards;
          animation: animation04_line_wrapper05 0.45s ease-in 0.8s forwards;
}

.animation04 .line05 {
  -webkit-animation: animation04_line05 0.45s ease-in 0.5s forwards;
          animation: animation04_line05 0.45s ease-in 0.5s forwards;
}

@-webkit-keyframes animation04_line_wrapper05 {
  0% {
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: scale3d(1, 0, 1);
            transform: scale3d(1, 0, 1);
    opacity: 1;
  }
}

@keyframes animation04_line_wrapper05 {
  0% {
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: scale3d(1, 0, 1);
            transform: scale3d(1, 0, 1);
    opacity: 1;
  }
}

@-webkit-keyframes animation04_line05 {
  0% {
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transform: scale3d(1, 0, 1);
            transform: scale3d(1, 0, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

@keyframes animation04_line05 {
  0% {
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transform: scale3d(1, 0, 1);
            transform: scale3d(1, 0, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

/*===========
line06
===========*/
.animation04 .rotate-135 {
  display: block;
  position: absolute;
  top: -19.5%;
  left: -48%;
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.animation04 .line_wrapper06 {
  width: 2.5%;
  height: 30%;
  -webkit-animation: animation04_line_wrapper06 0.45s ease-in 0.8s forwards;
          animation: animation04_line_wrapper06 0.45s ease-in 0.8s forwards;
}

.animation04 .line06 {
  -webkit-animation: animation04_line06 0.45s ease-in 0.5s forwards;
          animation: animation04_line06 0.45s ease-in 0.5s forwards;
}

@-webkit-keyframes animation04_line_wrapper06 {
  0% {
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transform: scale3d(1, 0, 1);
            transform: scale3d(1, 0, 1);
    opacity: 1;
  }
}

@keyframes animation04_line_wrapper06 {
  0% {
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transform: scale3d(1, 0, 1);
            transform: scale3d(1, 0, 1);
    opacity: 1;
  }
}

@-webkit-keyframes animation04_line06 {
  0% {
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: scale3d(1, 0, 1);
            transform: scale3d(1, 0, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

@keyframes animation04_line06 {
  0% {
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: scale3d(1, 0, 1);
            transform: scale3d(1, 0, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

/*===========
line07
===========*/
.animation04 .line_wrapper07 {
  top: 50%;
  left: -20%;
  width: 30%;
  height: 2.5%;
  -webkit-animation: animation04_line_wrapper07 0.45s ease-in 0.8s forwards;
          animation: animation04_line_wrapper07 0.45s ease-in 0.8s forwards;
}

.animation04 .line07 {
  -webkit-animation: animation04_line07 0.45s ease-in 0.5s forwards;
          animation: animation04_line07 0.45s ease-in 0.5s forwards;
}

@-webkit-keyframes animation04_line_wrapper07 {
  0% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scale3d(0, 1, 1);
            transform: scale3d(0, 1, 1);
    opacity: 1;
  }
}

@keyframes animation04_line_wrapper07 {
  0% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scale3d(0, 1, 1);
            transform: scale3d(0, 1, 1);
    opacity: 1;
  }
}

@-webkit-keyframes animation04_line07 {
  0% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scale3d(0, 1, 1);
            transform: scale3d(0, 1, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

@keyframes animation04_line07 {
  0% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scale3d(0, 1, 1);
            transform: scale3d(0, 1, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

/*===========
line08
===========*/
.animation04 .rotate-45 {
  display: block;
  position: absolute;
  top: -49.0%;
  left: 20%;
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.animation04 .line_wrapper08 {
  width: 2.5%;
  height: 30%;
  -webkit-animation: animation04_line_wrapper08 0.45s ease-in 0.8s forwards;
          animation: animation04_line_wrapper08 0.45s ease-in 0.8s forwards;
}

.animation04 .line08 {
  -webkit-animation: animation04_line08 0.45s ease-in 0.5s forwards;
          animation: animation04_line08 0.45s ease-in 0.5s forwards;
}

@-webkit-keyframes animation04_line_wrapper08 {
  0% {
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transform: scale3d(1, 0, 1);
            transform: scale3d(1, 0, 1);
    opacity: 1;
  }
}

@keyframes animation04_line_wrapper08 {
  0% {
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transform: scale3d(1, 0, 1);
            transform: scale3d(1, 0, 1);
    opacity: 1;
  }
}

@-webkit-keyframes animation04_line08 {
  0% {
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: scale3d(1, 0, 1);
            transform: scale3d(1, 0, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

@keyframes animation04_line08 {
  0% {
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: scale3d(1, 0, 1);
            transform: scale3d(1, 0, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

/*===================
animation05
====================*/
.animation05 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

.double_wrapper02 {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-animation: animation05_double forwards;
          animation: animation05_double forwards;
  opacity: 0;
}

.double_wrapper01 {
  display: block;
  position: absolute;
  border-radius: 50%;
  overflow: hidden;
}

.double_wrapper01::before {
  content: "";
  display: block;
  position: absolute;
  background: #f2f3df;
  z-index: 2;
}

.double_wrapper01::after {
  content: "";
  display: block;
  position: absolute;
  background: #f2f3df;
  z-index: 3;
}

.double_block {
  position: absolute;
  background: #f2f3df;
  border-radius: 50%;
}

/*==============
green circle
==============*/
.green02 {
  top: 0;
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s;
}

.green01 {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 34vw;
  height: 34vw;
  background: var(--color1);
  z-index: 1;
}

.green01::before {
  top: 0;
  left: 17vw;
  width: 34vw;
  height: 34vw;
  -webkit-transform-origin: left 17vw;
          transform-origin: left 17vw;
  -webkit-animation: rotate-circle-right 0.5s linear 1.55s forwards;
          animation: rotate-circle-right 0.5s linear 1.55s forwards;
}

.green01::after {
  top: 0;
  left: -17vw;
  width: 34vw;
  height: 34vw;
  -webkit-transform-origin: right 17vw;
          transform-origin: right 17vw;
  -webkit-animation: rotate-circle-left 0.5s linear 1.3s forwards;
          animation: rotate-circle-left 0.5s linear 1.3s forwards;
}

.green00 {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 9vw;
  height: 9vw;
  z-index: 4;
}

/*==============
navy circle
==============*/
.navy02 {
  top: -100%;
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}

.navy01 {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-20deg);
          transform: translate(-50%, -50%) rotate(-20deg);
  width: 25vw;
  height: 25vw;
  background: var(--color2);
  z-index: 1;
}

.navy01::before {
  top: 0;
  left: 12.5vw;
  width: 25vw;
  height: 25vw;
  -webkit-transform-origin: left 12.5vw;
          transform-origin: left 12.5vw;
  -webkit-animation: rotate-circle-right 0.5s linear 1.65s forwards;
          animation: rotate-circle-right 0.5s linear 1.65s forwards;
}

.navy01::after {
  top: 0;
  left: -12.5vw;
  width: 25vw;
  height: 25vw;
  -webkit-transform-origin: right 12.5vw;
          transform-origin: right 12.5vw;
  -webkit-animation: rotate-circle-left 0.5s linear 1.4s forwards;
          animation: rotate-circle-left 0.5s linear 1.4s forwards;
}

.navy00 {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 9vw;
  height: 9vw;
  z-index: 4;
}

/*==============
yellow circle
==============*/
.yellow02 {
  top: -200%;
  -webkit-animation-delay: 1.45s;
          animation-delay: 1.45s;
}

.yellow01 {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(20deg);
          transform: translate(-50%, -50%) rotate(20deg);
  width: 23vw;
  height: 23vw;
  background: var(--color3);
  z-index: 1;
}

.yellow01::before {
  top: 0;
  left: 11.5vw;
  width: 23vw;
  height: 23vw;
  -webkit-transform-origin: left 11.5vw;
          transform-origin: left 11.5vw;
  -webkit-animation: rotate-circle-right 0.5s linear 1.7s forwards;
          animation: rotate-circle-right 0.5s linear 1.7s forwards;
}

.yellow01::after {
  top: 0;
  left: -11.5vw;
  width: 23vw;
  height: 23vw;
  -webkit-transform-origin: right 11.5vw;
          transform-origin: right 11.5vw;
  -webkit-animation: rotate-circle-left 0.5s linear 1.45s forwards;
          animation: rotate-circle-left 0.5s linear 1.45s forwards;
}

.yellow00 {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 9vw;
  height: 9vw;
  z-index: 4;
}

/*==============
blue circle
==============*/
.blue02 {
  top: -300%;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.blue01 {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(20deg);
          transform: translate(-50%, -50%) rotate(20deg);
  width: 16vw;
  height: 16vw;
  background: var(--color4);
  z-index: 1;
}

.blue01::before {
  top: 0;
  left: 8vw;
  width: 16vw;
  height: 16vw;
  -webkit-transform-origin: left 8vw;
          transform-origin: left 8vw;
  -webkit-animation: rotate-circle-right 0.5s linear 1.45s forwards;
          animation: rotate-circle-right 0.5s linear 1.45s forwards;
}

.blue01::after {
  top: 0;
  left: -8vw;
  width: 16vw;
  height: 16vw;
  -webkit-transform-origin: right 8vw;
          transform-origin: right 8vw;
  -webkit-animation: rotate-circle-left 0.5s linear 1.2s forwards;
          animation: rotate-circle-left 0.5s linear 1.2s forwards;
}

.blue00 {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 7vw;
  height: 7vw;
  z-index: 4;
}

/*==============
red circle
==============*/
.red02 {
  top: -400%;
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s;
}

.red01 {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  width: 12vw;
  height: 12vw;
  background: var(--color5);
  z-index: 1;
}

.red01::before {
  top: 0;
  left: 6vw;
  width: 12vw;
  height: 12vw;
  -webkit-transform-origin: left 6vw;
          transform-origin: left 6vw;
  -webkit-animation: rotate-circle-right 0.5s linear 1.55s forwards;
          animation: rotate-circle-right 0.5s linear 1.55s forwards;
}

.red01::after {
  top: 0;
  left: -6vw;
  width: 12vw;
  height: 12vw;
  -webkit-transform-origin: right 6vw;
          transform-origin: right 6vw;
  -webkit-animation: rotate-circle-left 0.5s linear 1.3s forwards;
          animation: rotate-circle-left 0.5s linear 1.3s forwards;
}

.red00 {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 9vw;
  height: 9vw;
  z-index: 4;
}

@-webkit-keyframes animation05_double {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animation05_double {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes rotate-circle-left {
  0% {
    background: #f2f3df;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    background: #f2f3df;
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  50.01% {
    background: #f2f3df;
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  100% {
    background: #f2f3df;
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes rotate-circle-left {
  0% {
    background: #f2f3df;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    background: #f2f3df;
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  50.01% {
    background: #f2f3df;
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  100% {
    background: #f2f3df;
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@-webkit-keyframes rotate-circle-right {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes rotate-circle-right {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

/*===================
animation06
====================*/
.animation06 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

.rhombus05 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-animation: rhombus 0.7s ease-in 2.0s forwards;
          animation: rhombus 0.7s ease-in 2.0s forwards;
  opacity: 0;
}

.rhombus04 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  width: 50vw;
  height: 50vw;
  background-color: var(--color1);
}

.rhombus03 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 37.5vw;
  height: 37.5vw;
  background-color: var(--color3);
}

.rhombus02 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 25vw;
  height: 25vw;
  background-color: var(--color5);
}

.rhombus01 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 12.25vw;
  height: 12.25vw;
  background-color: #f2f3df;
}

@-webkit-keyframes rhombus {
  0% {
    -webkit-transform: scale3d(0, 0, 1);
            transform: scale3d(0, 0, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale3d(10, 10, 1);
            transform: scale3d(10, 10, 1);
    opacity: 1;
  }
}

@keyframes rhombus {
  0% {
    -webkit-transform: scale3d(0, 0, 1);
            transform: scale3d(0, 0, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale3d(10, 10, 1);
            transform: scale3d(10, 10, 1);
    opacity: 1;
  }
}

/*===================
animation07
====================*/
.animation07 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 2.5vw;
  height: 2.5vw;
}

.animation07 .circle {
  position: absolute;
  top: -.2vw;
  left: -.2vw;
  -webkit-transform-origin: center;
          transform-origin: center;
  width: 2.5vw;
  height: 2.5vw;
  -webkit-animation: animation07_circle 0.2s ease-in 2.19s forwards;
          animation: animation07_circle 0.2s ease-in 2.19s forwards;
}

.animation07 .circle_element01 {
  position: absolute;
  top: 0;
  left: 0;
  width: 2.5vw;
  height: 2.5vw;
  border: 0.2vw solid var(--colorGrey);
  background-color: #fff;
  border-radius: 50%;
  -webkit-animation: animation07_circle_element01 0.2s ease-in 2.0s forwards;
          animation: animation07_circle_element01 0.2s ease-in 2.0s forwards;
  -webkit-transform-origin: center;
          transform-origin: center;
  opacity: 0;
}

@-webkit-keyframes animation07_circle {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale3d(1.4, 1.4, 1);
            transform: scale3d(1.4, 1.4, 1);
    opacity: 0;
  }
}

@keyframes animation07_circle {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale3d(1.4, 1.4, 1);
            transform: scale3d(1.4, 1.4, 1);
    opacity: 0;
  }
}

@-webkit-keyframes animation07_circle_element01 {
  0% {
    -webkit-transform: scale3d(0, 0, 1);
            transform: scale3d(0, 0, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

@keyframes animation07_circle_element01 {
  0% {
    -webkit-transform: scale3d(0, 0, 1);
            transform: scale3d(0, 0, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

.animation07 .line_wrapper {
  position: absolute;
  opacity: 0;
}

.animation07 .line {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--colorGrey);
}

/*===========
line01
===========*/
.animation07 .line_wrapper01 {
  top: -95%;
  left: 45%;
  width: 10%;
  height: 60%;
  -webkit-animation: animation07_line_wrapper01 0.5s ease-in 2.0s forwards;
          animation: animation07_line_wrapper01 0.5s ease-in 2.0s forwards;
}

.animation07 .line01 {
  -webkit-animation: animation07_line01 0.5s ease-in 1.6s forwards;
          animation: animation07_line01 0.5s ease-in 1.6s forwards;
}

/*===========
line02
===========*/
.animation07 .rotate60 {
  display: block;
  position: absolute;
  top: 22.5%;
  left: 33%;
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}

.animation07 .line_wrapper02 {
  top: -78%;
  left: 10%;
  width: 10%;
  height: 60%;
  -webkit-animation: animation07_line_wrapper01 0.5s ease-in 2.0s forwards;
          animation: animation07_line_wrapper01 0.5s ease-in 2.0s forwards;
}

.animation07 .line02 {
  -webkit-animation: animation07_line01 0.5s ease-in 1.6s forwards;
          animation: animation07_line01 0.5s ease-in 1.6s forwards;
}

/*===========
line03
===========*/
.animation07 .rotate120 {
  display: block;
  position: absolute;
  top: 36.5%;
  left: 0%;
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
}

.animation07 .line_wrapper03 {
  top: -78%;
  left: 10%;
  width: 10%;
  height: 60%;
  -webkit-animation: animation07_line_wrapper01 0.5s ease-in 2.0s forwards;
          animation: animation07_line_wrapper01 0.5s ease-in 2.0s forwards;
}

.animation07 .line03 {
  -webkit-animation: animation07_line01 0.5s ease-in 1.6s forwards;
          animation: animation07_line01 0.5s ease-in 1.6s forwards;
}

/*===========
line04
===========*/
.animation07 .line_wrapper04 {
  top: 140%;
  left: 45%;
  width: 10%;
  height: 60%;
  -webkit-animation: animation07_line_wrapper02 0.5s ease-in 2.0s forwards;
          animation: animation07_line_wrapper02 0.5s ease-in 2.0s forwards;
}

.animation07 .line04 {
  -webkit-animation: animation07_line02 0.5s ease-in 1.6s forwards;
          animation: animation07_line02 0.5s ease-in 1.6s forwards;
}

/*===========
line05
===========*/
.animation07 .rotate-120 {
  display: block;
  position: absolute;
  top: -15.5%;
  left: -34%;
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(-120deg);
          transform: rotate(-120deg);
}

.animation07 .line_wrapper05 {
  top: -78%;
  left: 10%;
  width: 10%;
  height: 60%;
  -webkit-animation: animation07_line_wrapper01 0.5s ease-in 2.0s forwards;
          animation: animation07_line_wrapper01 0.5s ease-in 2.0s forwards;
}

.animation07 .line05 {
  -webkit-animation: animation07_line01 0.5s ease-in 1.6s forwards;
          animation: animation07_line01 0.5s ease-in 1.6s forwards;
}

/*===========
line06
===========*/
.animation07 .rotate-60 {
  display: block;
  position: absolute;
  top: -34.5%;
  left: -3%;
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(-60deg);
          transform: rotate(-60deg);
}

.animation07 .line_wrapper06 {
  top: -78%;
  left: 10%;
  width: 10%;
  height: 60%;
  -webkit-animation: animation07_line_wrapper01 0.5s ease-in 2.0s forwards;
          animation: animation07_line_wrapper01 0.5s ease-in 2.0s forwards;
}

.animation07 .line06 {
  -webkit-animation: animation07_line01 0.5s ease-in 1.6s forwards;
          animation: animation07_line01 0.5s ease-in 1.6s forwards;
}

@-webkit-keyframes animation07_line_wrapper01 {
  0% {
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transform: scale3d(1, 0, 1);
            transform: scale3d(1, 0, 1);
    opacity: 1;
  }
}

@keyframes animation07_line_wrapper01 {
  0% {
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transform: scale3d(1, 0, 1);
            transform: scale3d(1, 0, 1);
    opacity: 1;
  }
}

@-webkit-keyframes animation07_line01 {
  0% {
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: scale3d(1, 0, 1);
            transform: scale3d(1, 0, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

@keyframes animation07_line01 {
  0% {
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: scale3d(1, 0, 1);
            transform: scale3d(1, 0, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

@-webkit-keyframes animation07_line_wrapper02 {
  0% {
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: scale3d(1, 0, 1);
            transform: scale3d(1, 0, 1);
    opacity: 1;
  }
}

@keyframes animation07_line_wrapper02 {
  0% {
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: scale3d(1, 0, 1);
            transform: scale3d(1, 0, 1);
    opacity: 1;
  }
}

@-webkit-keyframes animation07_line02 {
  0% {
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transform: scale3d(1, 0, 1);
            transform: scale3d(1, 0, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

@keyframes animation07_line02 {
  0% {
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transform: scale3d(1, 0, 1);
            transform: scale3d(1, 0, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

/*===================
animation08
====================*/
.animation08 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-animation: animation08 1.5s ease-out 2.8s forwards;
          animation: animation08 1.5s ease-out 2.8s forwards;
  opacity: 0;
}

.animation08 .div1 {
  width: 100%;
  height: 100%;
  /* background: var(--colorRed); */
  background: -webkit-gradient(linear, left top, right top, from(#F05A28), to(#BB245E));
  background: linear-gradient(to right, #F05A28 0%, #BB245E 100%);
}

.animation08 .div2 {
  width: 100%;
  height: 25%;
  background: var(--color1);
}

.animation08 .div3 {
  width: 100%;
  height: 25%;
  background: var(--color3);
}

.animation08 .div4 {
  width: 100%;
  height: 25%;
  background: var(--color4);
}

.animation08 .div5 {
  width: 100%;
  height: 25%;
  background: var(--color5);
}

@-webkit-keyframes animation08 {
  0% {
    -webkit-transform: translateY(-200vh);
            transform: translateY(-200vh);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes animation08 {
  0% {
    -webkit-transform: translateY(-200vh);
            transform: translateY(-200vh);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@media screen and (max-width: 750px) {
  /*===================
animation02
====================*/
  @-webkit-keyframes animation02 {
    0% {
      -webkit-transform: scale3d(0, 0, 1);
              transform: scale3d(0, 0, 1);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale3d(1.2, 1.2, 1);
              transform: scale3d(1.2, 1.2, 1);
      opacity: 1;
    }
  }
  @keyframes animation02 {
    0% {
      -webkit-transform: scale3d(0, 0, 1);
              transform: scale3d(0, 0, 1);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale3d(1.2, 1.2, 1);
              transform: scale3d(1.2, 1.2, 1);
      opacity: 1;
    }
  }
  /*==============
green circle
==============*/
  .green01 {
    width: 70vw;
    height: 70vw;
  }
  .green01::before {
    left: 35vw;
    width: 70vw;
    height: 70vw;
    -webkit-transform-origin: left 35vw;
            transform-origin: left 35vw;
  }
  .green01::after {
    left: -35vw;
    width: 70vw;
    height: 70vw;
    -webkit-transform-origin: right 35vw;
            transform-origin: right 35vw;
  }
  /*==============
navy circle
==============*/
  .navy01 {
    width: 50vw;
    height: 50vw;
  }
  .navy01::before {
    left: 25vw;
    width: 50vw;
    height: 50vw;
    -webkit-transform-origin: left 25vw;
            transform-origin: left 25vw;
  }
  .navy01::after {
    left: -25vw;
    width: 50vw;
    height: 50vw;
    -webkit-transform-origin: right 25vw;
            transform-origin: right 25vw;
  }
  /*==============
yellow circle
==============*/
  .yellow01 {
    width: 35vw;
    height: 35vw;
  }
  .yellow01::before {
    left: 17.5vw;
    width: 35vw;
    height: 35vw;
    -webkit-transform-origin: left 17.5vw;
            transform-origin: left 17.5vw;
  }
  .yellow01::after {
    left: -17.5vw;
    width: 35vw;
    height: 35vw;
    -webkit-transform-origin: right 17.5vw;
            transform-origin: right 17.5vw;
  }
  /*==============
blue circle
==============*/
  .blue01 {
    width: 20vw;
    height: 20vw;
  }
  .blue01::before {
    left: 10vw;
    width: 20vw;
    height: 20vw;
    -webkit-transform-origin: left 10vw;
            transform-origin: left 10vw;
  }
  .blue01::after {
    left: -10vw;
    width: 20vw;
    height: 20vw;
    -webkit-transform-origin: right 10vw;
            transform-origin: right 10vw;
  }
  .blue00 {
    width: 7vw;
    height: 7vw;
  }
  /*==============
red circle
==============*/
  .red00 {
    width: 6vw;
    height: 6vw;
  }
  /*===================
animation06
====================*/
  @-webkit-keyframes rhombus {
    0% {
      -webkit-transform: scale3d(0, 0, 1);
              transform: scale3d(0, 0, 1);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale3d(20, 20, 1);
              transform: scale3d(20, 20, 1);
      opacity: 1;
    }
  }
  @keyframes rhombus {
    0% {
      -webkit-transform: scale3d(0, 0, 1);
              transform: scale3d(0, 0, 1);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale3d(20, 20, 1);
              transform: scale3d(20, 20, 1);
      opacity: 1;
    }
  }
}

h2 {
  color: var(--colorWhite);
  padding: 1.5rem;
}

/* block-$ */
.block-effect {
  font-size: calc(8px + 6vw);
  font-size: 3.5rem;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 50%;
  /* poussé de la moitié de hauteur du référent */
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  /* tiré de la moitié de sa propre hauteur */
}

#block1 {
  opacity: .85;
}

.block-reveal {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.block-reveal.-menu {
  font-family: 'Pilat Heavy';
}

.block-reveal, .block-reveal a {
  --t: calc(var(--td) + var(--d));
  color: transparent;
  padding: 4px;
  position: relative;
  overflow: hidden;
  -webkit-animation: revealBlock 0s var(--t) forwards;
          animation: revealBlock 0s var(--t) forwards;
  -webkit-animation-delay: 4500ms;
          animation-delay: 4500ms;
}

.block-reveal::after {
  content: '';
  width: 0%;
  height: 100%;
  padding-bottom: 4px;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--bc);
  -webkit-animation: revealingIn var(--td) var(--d) forwards, revealingOut var(--td) var(--t) forwards;
          animation: revealingIn var(--td) var(--d) forwards, revealingOut var(--td) var(--t) forwards;
  -webkit-animation-delay: 4500ms;
          animation-delay: 4500ms;
}

.block-reveal a {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.block-reveal a:hover {
  /* background: var(--colorRed);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
  opacity: 1;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#block2:hover, #block3:hover, #block4:hover {
  background-color: var(--colorWhite);
}

#block2:hover a, #block3:hover a, #block4:hover a {
  background: var(--colorRed);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#block2:hover a:after, #block3:hover a:after, #block4:hover a:after {
  content: "";
  position: absolute;
  bottom: 0.85rem;
  left: 0;
  height: 0.4rem;
  width: 100%;
  /* background: #444; */
  background: var(--colorRed);
}

/* animations */
@-webkit-keyframes revealBlock {
  100% {
    color: var(--colorWhite);
  }
}
@keyframes revealBlock {
  100% {
    color: var(--colorWhite);
  }
}

@-webkit-keyframes revealingIn {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes revealingIn {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@-webkit-keyframes revealingOut {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes revealingOut {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@media all and (max-width: 600px) {
  .block-effect {
    font-size: 1.5rem;
  }
  h2 {
    padding-left: 1.5rem;
    padding-top: 1.25rem;
  }
  /* CURSOR ------*/
  .cursor {
    display: none !important;
  }
}

/* .cursor {
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    animation: cursorAnim .5s infinite alternate;
    pointer-events: none;
} */
.cursor {
  display: block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: green;
  /* background: rgba(255,255,255,0.4); */
  position: absolute;
  top: 0;
  left: 0;
  mix-blend-mode: difference;
  z-index: 100;
  pointer-events: none;
}

/* .cursor::after {    
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    border: 8px solid var(--colorTextGrey);
    border-radius: 50%;
    opacity: .5;
    top: -8px;
    left: -8px;
    animation: cursorAnim2 .5s infinite alternate;
} */
@-webkit-keyframes cursorAnim {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}
@keyframes cursorAnim {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

@-webkit-keyframes cursorAnim2 {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
}

@keyframes cursorAnim2 {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
}

@-webkit-keyframes cursorAnim3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(3);
            transform: scale(3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}

@keyframes cursorAnim3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(3);
            transform: scale(3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}

.expand {
  -webkit-animation: cursorAnim3 .5s forwards;
          animation: cursorAnim3 .5s forwards;
  border: 1px solid var(--colorRedOld);
}

/* p {
  color: white;
  font-family: 'arial';
  text-align: center;
  margin-top: 50px;
  font-size: 1.4em;
  
  a {
    color: teal;
  } */
/*# sourceMappingURL=index.css.map */